body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#e9c46a, #f4a261);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmQ3d2owZGh6NTFnMzJpeXZvd3d4b2dteWtreXhzb202ODBwbnljaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/10UeedrT5MIfPG/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdGl4M2ZiNmtmYmhlM3Mzd3U0bDJkOXA3bnMyZDA4ejFwODdkZThibCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VDBCKvaXewXwqvb6Db/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHYzM2I2ZHNnbWhxbGdoMzJ0NDBjc2Qwazg3cWYyd3pieXFhMW9maiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ZuhmYnikJOPPq/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media2.giphy.com/media/VFB3cJJne7b5m/giphy.webp?cid=ecf05e47071yuimvibyrtc7z1d1nq5w16xky5k9wm38e7nw1&ep=v1_gifs_related&rid=giphy.webp&ct=g");
}

#gift-img-cheers:hover {
    background-image: url("/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/
